<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        h1 {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: white;
            margin: 0;
        }

        
    </style>
</head>
<body>
    <h1>Weather App</h1>
    <div class="content-container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
